site_name: Credeau Product Documentation
site_url: https://docs.credeau.com
theme:
  name: material
  logo: assets/images/credeau_logo_transparent.png
  favicon: assets/images/credeau_favicon.ico
  font:
    code: Roboto Mono
    text: Roboto
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: 'deep orange'
      accent: 'deep orange'
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: 'deep orange'
      accent: 'deep orange'
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.code.copy

nav:
  - Home: index.md
  - Products:
      - MobileForge:
          - Overview: products/mobileforge/index.md
          - Components: products/mobileforge/components.md
          - Deployment:
              - Database: products/mobileforge/deployment/database.md
              - Sync Pipeline: products/mobileforge/deployment/sync_pipeline.md
              - Insights Pipeline: products/mobileforge/deployment/insights_pipeline.md
      - MobileGator:
          - Overview: products/mobilegator/index.md
          - SDK:
              - Web: products/mobilegator/sdk/web.md
              - Android: products/mobilegator/sdk/android.md
              - Flutter: products/mobilegator/sdk/flutter.md
              - React Native: products/mobilegator/sdk/reactnative.md
              - Ionic Capacitor: products/mobilegator/sdk/ioniccapacitor.md
              - iOS: products/mobilegator/sdk/ios.md
              - Error Codes: products/mobilegator/sdk/errorcodes.md
          - Insights: products/mobilegator/insights.md
      - CredForge:
          - Overview: products/credforge/index.md
          - Components: products/credforge/components.md
          - BRE: products/credforge/bre.md
          - Deployment:
              - Database: products/credforge/deployment/database.md
      - BureauGator:
          - Overview: products/bureaugator/index.md
          - Insights: products/bureaugator/bureau.md

extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    actions:
      - accept
      - reject

plugins:
  - search
  - monorepo

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
